@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Inter:wght@100..900&display=swap');

:root {
    --cor-principal:#437FFF;
    --cor-secundaria:#FED731;
    --cor-fundo:#E6E6E6;
    --fonte-principal:'Doppio One', sans-serif;
    --font-size-principal:16px;
    --cor-fonte-primaria:#000000;
    --cor-fonte-secundaria:#051D6C;
    --cor-fonte-tercearia:#FFE100;
    --cinza-principal:#B3C4D8;
}


body{
    background-color:var(--cor-fundo);
    font-family:var(--fonte-principal);
    color:var(--cor-fonte-primaria);
}

/* PAGINA */

.pagina{
    min-height:100vh;
    display:grid;
    grid-template-columns:50% 50%;
}

/* BARRA SUPERIOR */

.barra__superior{
    background-color:var(--cor-principal);
    width:100%;
}

.cabecalho{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    padding:1rem;
}

/* LOGO */

.logo__adag{
    width:7em;
    height:auto;
    margin:0 1em 0 3em;
}

/* PESQUISA */

.texto__barra__pesquisa{
    margin-left:15em;
    background-color:var(--cinza-principal);
    border-radius:20px;
    border:none;
    width:45em;
    height:2.5em;
    padding-left:15px;
    padding-right:15px;
    color:var(--cor-fonte-secundaria);
    font-family:var(--fonte-principal);
    font-size:var(--font-size-principal);
    outline:none;
    max-width:100%;
}

.pesquisa__texto{
    font-family:var(--fonte-principal);
    font-size:var(--font-size-principal);
    background:none;
    border:none;
    outline:none;
    width:32em;
    color:var(--cor-fonte-secundaria);
}

/* BOTÕES */

.botao{
    background-color:var(--cor-fonte-tercearia);
    font-family:var(--fonte-principal);
    font-size:var(--font-size-principal);
    border-radius:7px;
    border:none;
    width:7em;
    padding:0.5em;
    text-decoration:none;
    cursor:pointer;
}

.botao__cadastro{
    margin-left:20em;
    padding-left:1em;
}

.botao__login{
    padding-left:1em;
    width:4em;
}

/* PAGINA PRINCIPAL */

.pagina__principal{
    background-image:url(../imagens/carrosel_test.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:2rem;
}



/*TIPO LIMPEZA */

.pagina__tipo__limpeza{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:4rem 2rem;
    position:relative;
    background-image: url(../imagens/fundo\ tipo\ de\ limpeza.png);
}

/* MAIS COMPRADOS */

.titulo__mais__comprados{
    font-family:var(--fonte-principal);
    color:var(--cor-fonte-primaria);
    font-size:40px;
    padding-left:2em;
    padding-top: 2em;
}

.lista__mais__comprados{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:2em;
    list-style:none;
    margin-top:2em;
}

.produtos__mais__comprados{
    width:220px;
}

.fundo__tipo__limpeza{
    padding-top:3em;
}
/* TEXTO TIPO LIMPEZA */

.texto__tipo__limpeza{
    font-size:100px;
    color:var(--cor-fonte-secundaria);
    margin-top:-5rem;
    margin-bottom:3rem;
    z-index:2;
}

/* LISTA */

.lista__limpeza{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:4rem;
    list-style:none;
    margin-top:2rem;
}


/* RESPONSIVO */

@media (max-width:768px){

    .texto__tipo__limpeza{
        font-size:45px;
        margin-top:2rem;
    }

    .lista__limpeza{
        gap:2rem;
    }

    .tipo__limpeza img{
        width:130px;
    }

}

/* SOBRE */

.sobre__adag{
    text-align:center;
    color:var(--cor-fonte-secundaria);
    font-family:var(--fonte-principal);
    font-size:120px;
    margin-top: 1em;
}

.img__ia{
    height:25%;
    display:block;
    margin:3em auto;
}

.sobre{
    color:var(--cor-fonte-secundaria);
    font-family:var(--fonte-principal);
    font-size:35px;
    text-align:center;
    margin-top:2em;
    padding:0 1rem;
}

/* BARRA SUPERIOR ICONES */

.lista__barra__superior{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    list-style:none;
    margin-left:3em;
    margin-top:1em;
    height:4em;
    gap:1em;
}

.icones__superior{
    margin:0;
}

/* RESPONSIVIDADE */

@media (max-width: 768px){

    .pagina{
        grid-template-columns:1fr;
    }

    .cabecalho{
        flex-direction:column;
        justify-content:center;
    }

    .logo__adag{
        margin:0 auto;
    }

    .texto__barra__pesquisa{
        width:90%;
        margin:1rem auto;
    }

    .botao__cadastro{
        margin-left:0;
    }

    .texto__tipo__limpeza{
        font-size:50px;
    }

    .sobre__adag{
        font-size:60px;
    }

    .sobre{
        font-size:22px;
    }

    .lista__limpeza{
        margin-top:5em;
        gap:2em;
    }
}