@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
--cor-principal:#437FFF;
--cor-secundaria:#FED731;
--cor-fundo:#E6E6E6;
--fonte-principal: 'doppio one';
--font-size-principal: 16px;
--cor-fonte-primaria: #000000;
--cor-fonte-secundaria:#051D6C;
--cor-fonte-tercearia :#FFE100;
--cinza-principal: #B3C4D8;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-primaria);
}
.pagina{
    height: 100vh;/*altura da tela inteira*/
    display: grid;/*exibe os itens em grade*/
    grid-template-columns: 50% 50%;/*divide a tela em 2 colunas de 50% cada*/
}
.barra__superior{
    background-color: var(--cor-principal);
    width: auto;/*largura*/
    height: auto;/*altura*/
}
.logo__adag{
    width: 7em;
    height: auto;
    margin: 0 1em 0 3em;


}
.cabecalho{
    display: flex; /*exibe os itens em linha*/
    align-items: center;/*alinha os itens verticalmente ao centro*/
}
.pesquisa__texto{
    font-family: var(--fonte-principal);
    font-size: var(--font-size-principal);
    position: absolute;/*coloca ele por cima*/
    margin-left: 26.5em;
    background: none;/*remove o fundo*/
    border: none;/*remove a borda*/
    width: 32em;
    outline: none;/*remove a borda*/
    color: var(--cor-fonte-secundaria);/*cor da fonte*/
}
.pagina__principal{
    background-image: url(../imagens/carrosel_test.png);
    background-repeat: none;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.texto__barra__pesquisa{
    margin-left: 15em;
    outline: none;
    background-color: var(--cinza-principal);
    border-radius: 20px;
    width: 45em;
    height: 2.5em;
    color: var(--cor-fonte-secundaria);
    font-family: var(--fonte-principal);
    font-size: var(--font-size-principal);
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}
.botao{
    background-color: var(--cor-fonte-tercearia);
    font-family: var(--fonte-principal);
    font-size: var(--font-size-principal);
    border-radius: 7px;
    margin-left: 1em;
    margin-top: -1.5em;
    width: 7em;
    text-decoration: none;
}
.botao__cadastro{
    margin-left: 20em;
    padding-left: 1em;
}
.botao__login{
    padding-left: 1em;
    width: 4em;
}
.lista__limpeza{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 8em;
    margin-top: 30em;
    position: absolute;
}
.tipo__limpeza{
    margin-left: 5em;
}
.texto__tipo__limpeza{
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-tercearia);
    font-size: 100px;
    width: 50em;
    position: absolute;
    margin-left: 3em;
    margin-top: 1em;
}
.sobre__adag {
    text-align: center;
    color: var(--cor-fonte-tercearia);
    font-family: var(--fonte-principal);
    font-size: 120px;
    margin-top: 3em;
}

.img__ia {
    height: 25%;
    margin-left: 25em;
    margin-top: 3em;
}
.sobre {
    color: var(--cor-fonte-secundaria);
    font-family: var(--fonte-principal);
    font-size: 35px;
    text-align: center;
    margin-top: 2em;
}
.lista__barra__superior{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 3em;
    margin-top: 1em;
    height: 4em;
}
.icones__superior{
    margin-left: 1em;
}
.titulo__mais__comprados {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-primaria);
    font-size: 40px;
    padding-left: 3em;
    padding-top: -5em;
}
.lista__mais__comprados{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top:  -10em;
     
}
.produtos__mais__comprados {
    margin-left: 1em;
}
.fundo__tipo__limpeza {
    padding-top: 3em;
}