@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
--cor-principal:#437FFF;
--cor-secundaria:#FED731;
--cor-fundo:#E6E6E6;
--fonte-principal: 'doppio one';
--cor-fonte-primaria: #000000;
--cor-fonte-secundaria:#051D6C;
--cor-fonte-tercearia :#FFE100;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-primaria);
}
.barra__superior{
    background-color: var(--cor-principal);
    width: auto;/*largura*/
    height: auto;/*altura*/
}
.logo__adag{
    width: 6em;
    height: auto;
    margin: 0 1em 0 2em;
}
.barra__pesquisa{
    width: 35em;
    height: auto;
    margin: 0.5em 0 0.5em 10em; /* 0= cima, 0= direita, 0.5em= baixo, 10em= esquerda */
}
.cabecalho{
    display: flex; /*exibe os itens em linha*/
    align-items: center;/*alinha os itens verticalmente ao centro*/
}