*{
    margin: 0;
    padding: 0;
   

}

h1{
    color: #f04d4c;
    font-size: 30px;
    font-family: "lucida sans" , sans-serif;
    text-align: center;
    margin-bottom: 10px;

}
.img_sobre{

    width: 50px;
    

}


header{

    background-color: #9bcd9b;
    padding: 10px;
    text-align: center;

}

nav{
    padding: 10px;
    text-align: right;

}

nav a{
    color: #000000;


}
nav a:hover{
    color: #f04d4c;

}



footer{
    background-color: #9bcd9b;
    padding: 10px;
    text-align: center;
    margin-top: 10px;

}